In [10]:
import pandas as pd

In [13]:
results_path = '../files/1/2/output/results_speaker_000.h5'

In [14]:
audio = pd.read_hdf(results_path, key='audio')
video = pd.read_hdf(results_path, key='video')
texts = pd.read_hdf(results_path, key='text')

all = pd.read_hdf(results_path, key='all')

In [15]:
audio

       speaker        file                                     audio_emotions
0  speaker_000  part_00000  {'Neutral': 99.99698, 'Pleased': 0.00159, 'Ten...
1  speaker_000  part_00001  {'Neutral': 99.99791, 'Tension': 0.00158, 'Sad...
2  speaker_000  part_00002  {'Neutral': 99.9974, 'Tension': 0.00098, 'Plea...
3  speaker_000  part_00003  {'Pleased': 39.88174, 'Neutral': 29.80253, 'Te...
4  speaker_000  part_00004  {'Neutral': 99.99499, 'Tension': 0.00197, 'Ple...
5  speaker_000  part_00005  {'Neutral': 99.99483, 'Tension': 0.00274, 'Ple...

In [16]:
video

       speaker        file                                     video_emotions
0  speaker_000  part_00000  {'image_00000': {'happy': 28.624803903745573, ...
1  speaker_000  part_00001  {'image_00000': {'happy': 37.14270680487257, '...
2  speaker_000  part_00002  {'image_00000': {'neutral': 33.59819541972792,...
3  speaker_000  part_00003  {'image_00000': {'happy': 31.35605478699991, '...
4  speaker_000  part_00004  {'image_00000': {'happy': 34.22149120032651, '...
5  speaker_000  part_00005  {'image_00000': {'neutral': 38.01115437749613,...

In [17]:
texts

,speaker,file,text,text_emotions
0,speaker_000,part_00000,Première question qu'on nous a énormément posé...,"{'curiosity': 0.07742, 'boredom': 0.00286, 'gu..."
1,speaker_000,part_00001,premier jour de,"{'surprise': 60.70628, 'optimism': 41.44753, '..."
2,speaker_000,part_00002,"Donc moi, je travaille dans cette entreprise d...","{'boredom': 1.59112, 'love': 1.52536, 'curiosi..."
3,speaker_000,part_00003,"Toi aussi, c'est tes goûts. Oui, moi aussi, j'...","{'approval': 99.99627, 'admiration': 96.64248,..."
4,speaker_000,part_00004,"Et donc, oui, on s'est rencontrés comme 14% de...","{'optimism': 3.05692, 'approval': 0.63876, 'am..."
5,speaker_000,part_00005,"faible. Mais en fait, je me suis un peu rensei...","{'curiosity': 95.73168, 'doubt': 0.09374, 'bor..."

In [18]:
all

,speaker,file,text,text_emotions,video_emotions,audio_emotions
0,speaker_000,part_00000,Première question qu'on nous a énormément posé...,"{'curiosity': 0.07742, 'boredom': 0.00286, 'gu...","{'image_00000': {'happy': 28.624803903745573, ...","{'Neutral': 99.99698, 'Pleased': 0.00159, 'Ten..."
1,speaker_000,part_00001,premier jour de,"{'surprise': 60.70628, 'optimism': 41.44753, '...","{'image_00000': {'happy': 37.14270680487257, '...","{'Neutral': 99.99791, 'Tension': 0.00158, 'Sad..."
2,speaker_000,part_00002,"Donc moi, je travaille dans cette entreprise d...","{'boredom': 1.59112, 'love': 1.52536, 'curiosi...","{'image_00000': {'neutral': 33.59819541972792,...","{'Neutral': 99.9974, 'Tension': 0.00098, 'Plea..."
3,speaker_000,part_00003,"Toi aussi, c'est tes goûts. Oui, moi aussi, j'...","{'approval': 99.99627, 'admiration': 96.64248,...","{'image_00000': {'happy': 31.35605478699991, '...","{'Pleased': 39.88174, 'Neutral': 29.80253, 'Te..."
4,speaker_000,part_00004,"Et donc, oui, on s'est rencontrés comme 14% de...","{'optimism': 3.05692, 'approval': 0.63876, 'am...","{'image_00000': {'happy': 34.22149120032651, '...","{'Neutral': 99.99499, 'Tension': 0.00197, 'Ple..."
5,speaker_000,part_00005,"faible. Mais en fait, je me suis un peu rensei...","{'curiosity': 95.73168, 'doubt': 0.09374, 'bor...","{'image_00000': {'neutral': 38.01115437749613,...","{'Neutral': 99.99483, 'Tension': 0.00274, 'Ple..."

In [27]:
all.loc[2]['text']

"Donc moi, je travaille dans cette entreprise depuis déjà un ou deux ans. Et voilà, quand Mathieu est arrivé, au début, on ne s'est pas spécialement parlé. Il n'y a pas plus que ça. Et c'est vrai que quelques années plus tard, on a commencé un peu à se rapprocher, à discuter. On parlait de sujets qui nous passionnent tous les deux. C'est vrai qu'on aimait beaucoup une émission qui s'appelle"